################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CppProperties.json
/CMakeSettings.json
build*/
src/lasComm.h
src/lasConfig.h
compile_commands.json
spack*
